.App {
  text-align: center;
}

.App-header {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212529;
}

.cat-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-primary:hover {
    background-color: #5a3d9a;
    border-color: #5a3d9a;
}

.alert-success {
    background-color: #e9d8ff;
    border-color: #d3b3ff;
    color: #3c2a58;
}

.alert-heading {
    color: #49326b;
}